#InputGroup{
   width: 30%;
   margin-top: 5%;
}

.InputContainer{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 850px) {
    #InputGroup {
        width: 75%;
    }
  }