.navbar {
  background-image:
    linear-gradient(
      to top, 
      rgb(238, 62, 62), #f06d06
    );
  
}

.navbar-brand {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.7em;
}

.logo {
  width: 55%;
  margin-top: 5%;
}

.logodiv{
  display: flex;
  justify-content: center;
}

.container404 {
display: flex;
justify-content: center;
margin-top: 2%;
}

.text404 {
  text-align: center;
  margin-top: 5%;
  font-size: 4em;
}

.button404 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.button404 a {
  width: 30%;
  height: 50px;
  padding-top: .7%;
  
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 80%;
    margin: 8%;
    height: 30%;
  }
  .button404 a {
    width: 75%;
    padding-top: 3%; 
  }
  .button404 a {
   margin-top: 10%; 
  }

}

.navbar a {
  color: white;
}
